# Data Exploration and Analysis
The following notebook will take a look at the data sets that will be used in the recommendation engine and prep the data for use in the engine itself.

## Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Read in Data

In [2]:
animes_df = pd.read_csv('data/animes.csv')
users_df = pd.read_csv('data/profiles.csv')
reviews_df = pd.read_csv('data/reviews.csv')

print("Animes DF: {}\nUsers DF: {}\nReviews DF: {}".format(animes_df.shape, users_df.shape, reviews_df.shape))

Animes DF: (19311, 12)
Users DF: (81727, 5)
Reviews DF: (192112, 7)

In [7]:
show = animes_df[animes_df['title'] == 'Monster']
show = show.iloc[0]
show

uid                                                          19
title                                                   Monster
synopsis      Dr. Kenzou Tenma, an elite neurosurgeon recent...
genre         ['Drama', 'Horror', 'Mystery', 'Police', 'Psyc...
aired                               Apr 7, 2004 to Sep 28, 2005
episodes                                                   74.0
members                                                  459710
popularity                                                  159
ranked                                                     46.0
score                                                      8.69
img_url       https://cdn.myanimelist.net/images/anime/10/18...
link                   https://myanimelist.net/anime/19/Monster
Name: 744, dtype: object

### Animes DataFrame Exploration and Cleaning

In [3]:
animes_df.head(5)

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,https://myanimelist.net/anime/28891/Haikyuu_Se...
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/671...,https://myanimelist.net/anime/23273/Shigatsu_w...
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/867...,https://myanimelist.net/anime/34599/Made_in_Abyss
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,https://myanimelist.net/anime/5114/Fullmetal_A...
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/815...,https://myanimelist.net/anime/31758/Kizumonoga...

First I want to check for duplicate or null rows. If there are, we want to get rid of them. I purposly used this dataset because there were no null values. So I expect isnull().sum() to return 0.

In [4]:
animes_df.duplicated().sum()

2943

In [5]:
animes_df.drop_duplicates(inplace=True)

In [6]:
animes_df.duplicated().sum()

0

In [7]:
animes_df.genre.isnull().sum()

0

Perfect! One thing I noticed about the animes dataframe was that the genre for each anime seems to be a list of genres. I want to check what data type the genre column is and create a column for each genre type.

In [8]:
animes_df['genre'].dtype

dtype('O')

The data type of the genre column seems to be an Object, meaning a string. So I need to loop through the genre column and get a set of the genres.

In [9]:
genres = []

# for every anime, split the genre column value to get each genre type
for genre_set in animes_df.genre:
    values = genre_set.strip("[]").split(",")
    values = [w.strip()[1:-1] for w in values]
    
    # add genres to list
    genres.extend(values)

# drop all duplicate values
genres = set(genres)
print("The number of genres is {}.".format(len(genres)))
print(genres)

The number of genres is 44.
{'', 'Shoujo', 'Supernatural', 'Mecha', 'Comedy', 'Kids', 'Mystery', 'Fantasy', 'Historical', 'Police', 'Josei', 'Samurai', 'Yaoi', 'Yuri', 'Parody', 'Space', 'Music', 'Shounen', 'Magic', 'Psychological', 'Horror', 'Shoujo Ai', 'Thriller', 'Sports', 'School', 'Sci-Fi', 'Harem', 'Shounen Ai', 'Hentai', 'Dementia', 'Martial Arts', 'Demons', 'Action', 'Adventure', 'Military', 'Vampire', 'Super Power', 'Ecchi', 'Cars', 'Romance', 'Drama', 'Slice of Life', 'Seinen', 'Game'}

Notice the first element is empty. This happend when calling set(genres). We can quickly delete that.

In [11]:
genres = list(genres)
genres.pop(0)
genres = sorted(genres)
print("The number of genres is {}.".format(len(genres)))
print(genres)

The number of genres is 42.
['Action', 'Adventure', 'Cars', 'Comedy', 'Dementia', 'Demons', 'Drama', 'Ecchi', 'Fantasy', 'Game', 'Harem', 'Hentai', 'Historical', 'Horror', 'Josei', 'Kids', 'Magic', 'Martial Arts', 'Mecha', 'Military', 'Music', 'Mystery', 'Parody', 'Police', 'Psychological', 'Romance', 'Samurai', 'School', 'Sci-Fi', 'Seinen', 'Shoujo Ai', 'Shounen', 'Shounen Ai', 'Slice of Life', 'Space', 'Sports', 'Super Power', 'Supernatural', 'Thriller', 'Vampire', 'Yaoi', 'Yuri']

Now that I have a list of all possible genre types. I wanted to make a column for each genre. The value of the column will be a 1 if an anime is listed under this genre or a 0 if it is not.

In [12]:
def split_genres(anime):
    '''
    Will split the genre column of any anime row and return a 1 if the anime is listed in that genre.
    
    INPUT:
    anime - a string of the genres column for a specific anime
    
    OUTPUT:
    1 - if anime is listed in genre
    0 - if anime is not listed in genre
    '''
    try:
        if anime.find(genre) > -1:
            return 1
        else:
            return 0
    except AttributeError:
        return 0

# create column for each genre and fill in columns
for genre in genres:
    animes_df[genre] = animes_df['genre'].apply(split_genres)

Now there is an easier way to identify the genres that an anime is listed as. This will be used for filtering and content based recommendations.

In [13]:
animes_df.head()

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,...,Shounen Ai,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Vampire,Yaoi,Yuri
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,...,0,0,0,1,0,0,0,0,0,0
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,...,0,0,0,0,0,0,0,0,0,0
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,...,0,0,0,0,0,0,0,0,0,0
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,...,0,0,0,0,0,0,0,0,0,0
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,...,0,0,0,0,0,1,0,1,0,0

## Create Decade columns for further filtering

In [14]:
def split_anime_decade(val, decade):
    try:
        year = val.split(',')[1]
        year = year.strip()[:4]
    except:
        year = val.strip()[:4]
    
    try:
        if decade == 'Pre 1970':
            if int(year) < 1970:
                return 1
            return 0
        if int(year) >= int(decade) and int(year) < int(decade) + 10:
            return 1
        else:
            return 0
    except:
        return 0

In [15]:
decades = ['Pre 1970s', '1970s', '1980s', '1990s', '2000s', '2010s']
for decade in decades:
    column = []
    for row in animes_df['aired']:
        column.append(split_anime_decade(row, decade[:-1]))
    animes_df[decade] = column
animes_df.head()

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,...,Thriller,Vampire,Yaoi,Yuri,Pre 1970s,1970s,1980s,1990s,2000s,2010s
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,...,0,0,0,0,0,0,0,0,0,1
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,...,0,0,0,0,0,0,0,0,0,1
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,...,0,0,0,0,0,0,0,0,0,1
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,...,0,0,0,0,0,0,0,0,1,0
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,...,0,1,0,0,0,0,0,0,0,1

In [16]:
animes_df = animes_df.drop(['genre', 'aired'], axis=1)
animes_df.head()

,uid,title,synopsis,episodes,members,popularity,ranked,score,img_url,link,...,Thriller,Vampire,Yaoi,Yuri,Pre 1970s,1970s,1980s,1990s,2000s,2010s
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,https://myanimelist.net/anime/28891/Haikyuu_Se...,...,0,0,0,0,0,0,0,0,0,1
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/671...,https://myanimelist.net/anime/23273/Shigatsu_w...,...,0,0,0,0,0,0,0,0,0,1
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/867...,https://myanimelist.net/anime/34599/Made_in_Abyss,...,0,0,0,0,0,0,0,0,0,1
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,https://myanimelist.net/anime/5114/Fullmetal_A...,...,0,0,0,0,0,0,0,0,1,0
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/815...,https://myanimelist.net/anime/31758/Kizumonoga...,...,0,1,0,0,0,0,0,0,0,1

In [17]:
animes_df.to_csv('./data/animes-clean.csv')

In [18]:
top_ranked = animes_df.sort_values(by='ranked', ascending=True)
top_ranked.head(20)

,uid,title,synopsis,episodes,members,popularity,ranked,score,img_url,link,...,Thriller,Vampire,Yaoi,Yuri,Pre 1970s,1970s,1980s,1990s,2000s,2010s
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,https://myanimelist.net/anime/5114/Fullmetal_A...,...,0,0,0,0,0,0,0,0,1,0
773,9253,Steins;Gate,The self-proclaimed mad scientist Rintarou Oka...,24.0,1331710,7,2.0,9.11,https://cdn.myanimelist.net/images/anime/5/731...,https://myanimelist.net/anime/9253/Steins_Gate,...,1,0,0,0,0,0,0,0,0,1
772,11061,Hunter x Hunter (2011),Hunter x Hunter is set in a world where Hunte...,148.0,1052761,20,3.0,9.11,https://cdn.myanimelist.net/images/anime/11/33...,https://myanimelist.net/anime/11061/Hunter_x_H...,...,0,0,0,0,0,0,0,0,0,1
771,32281,Kimi no Na wa.,"Mitsuha Miyamizu, a high school girl, yearns t...",1.0,1139878,15,4.0,9.09,https://cdn.myanimelist.net/images/anime/5/870...,https://myanimelist.net/anime/32281/Kimi_no_Na_wa,...,0,0,0,0,0,0,0,0,0,1
770,38524,Shingeki no Kyojin Season 3 Part 2,Seeking to restore humanity’s diminishing hope...,10.0,446370,175,5.0,9.07,https://cdn.myanimelist.net/images/anime/1517/...,https://myanimelist.net/anime/38524/Shingeki_n...,...,0,0,0,0,0,0,0,0,0,1
769,28977,Gintama°,"Gintoki, Shinpachi, and Kagura return as the f...",51.0,281594,351,6.0,9.05,https://cdn.myanimelist.net/images/anime/3/720...,https://myanimelist.net/anime/28977/Gintama%C2%B0,...,0,0,0,0,0,0,0,0,0,1
768,9969,Gintama',"After a one-year hiatus, Shinpachi Shimura ret...",51.0,278110,353,7.0,9.04,https://cdn.myanimelist.net/images/anime/4/503...,https://myanimelist.net/anime/9969/Gintama,...,0,0,0,0,0,0,0,0,0,1
767,820,Ginga Eiyuu Densetsu,The 150-year-long stalemate between the two in...,110.0,175423,620,8.0,9.03,https://cdn.myanimelist.net/images/anime/13/13...,https://myanimelist.net/anime/820/Ginga_Eiyuu_...,...,0,0,0,0,0,0,1,0,0,0
766,35180,3-gatsu no Lion 2nd Season,"Now in his second year of high school, Rei Kir...",22.0,169544,657,9.0,9.02,https://cdn.myanimelist.net/images/anime/3/884...,https://myanimelist.net/anime/35180/3-gatsu_no...,...,0,0,0,0,0,0,0,0,0,1
765,28851,Koe no Katachi,"As a wild youth, elementary school student Sho...",1.0,842277,53,10.0,9.01,https://cdn.myanimelist.net/images/anime/1122/...,https://myanimelist.net/anime/28851/Koe_no_Kat...,...,0,0,0,0,0,0,0,0,0,1
15,15417,Gintama': Enchousen,"While Gintoki Sakata was away, the Yorozuya fo...",13.0,166446,667,11.0,8.98,https://cdn.myanimelist.net/images/anime/6/751...,https://myanimelist.net/anime/15417/Gintama__E...,...,0,0,0,0,0,0,0,0,0,1
14,4181,Clannad: After Story,"Clannad: After Story , the sequel to the criti...",24.0,740101,64,12.0,8.97,https://cdn.myanimelist.net/images/anime/13/24...,https://myanimelist.net/anime/4181/Clannad__Af...,...,0,0,0,0,0,0,0,0,1,0
13,918,Gintama,"The Amanto, aliens from outer space, have inva...",201.0,579150,97,13.0,8.97,https://cdn.myanimelist.net/images/anime/10/73...,https://myanimelist.net/anime/918/Gintama,...,0,0,0,0,0,0,0,0,1,0
12,15335,Gintama Movie 2: Kanketsu-hen - Yorozuya yo Ei...,When Gintoki apprehends a movie pirate at a pr...,1.0,135232,833,14.0,8.95,https://cdn.myanimelist.net/images/anime/10/51...,https://myanimelist.net/anime/15335/Gintama_Mo...,...,0,0,0,0,0,0,0,0,0,1
11,34096,Gintama.,After joining the resistance against the bakuf...,12.0,139309,800,15.0,8.94,https://cdn.myanimelist.net/images/anime/3/835...,https://myanimelist.net/anime/34096/Gintama,...,0,0,0,0,0,0,0,0,0,1
10,32935,Haikyuu!!: Karasuno Koukou vs. Shiratorizawa G...,"After the victory against Aoba Jousai High, Ka...",10.0,395375,223,16.0,8.94,https://cdn.myanimelist.net/images/anime/7/819...,https://myanimelist.net/anime/32935/Haikyuu__K...,...,0,0,0,0,0,0,0,0,0,1
9,2904,Code Geass: Hangyaku no Lelouch R2,"One year has passed since the Black Rebellion,...",25.0,992196,27,17.0,8.93,https://cdn.myanimelist.net/images/anime/4/939...,https://myanimelist.net/anime/2904/Code_Geass_...,...,0,0,0,0,0,0,0,0,1,0
8,35247,Owarimonogatari 2nd Season,Following an encounter with oddity specialist ...,7.0,189944,573,18.0,8.93,https://cdn.myanimelist.net/images/anime/6/873...,https://myanimelist.net/anime/35247/Owarimonog...,...,0,1,0,0,0,0,0,0,0,1
7,38000,Kimetsu no Yaiba,"Ever since the death of his father, the burden...",26.0,575037,106,19.0,8.92,https://cdn.myanimelist.net/images/anime/1286/...,https://myanimelist.net/anime/38000/Kimetsu_no...,...,0,0,0,0,0,0,0,0,0,1
6,199,Sen to Chihiro no Kamikakushi,"Stubborn, spoiled, and naïve, 10-year-old Chih...",1.0,913212,40,20.0,8.90,https://cdn.myanimelist.net/images/anime/6/795...,https://myanimelist.net/anime/199/Sen_to_Chihi...,...,0,0,0,0,0,0,0,0,1,0

## Create Filter Functions

In [19]:
def get_top_rated(n, df=animes_df):
    '''
    INPUT:
    df - animes df from cells above
    n - number of recs to return
    
    OUTPUT:
    recs -  the name and img url of the all time top rated animes
    '''
    recs = []
    top_ranked = df.sort_values(by='ranked', ascending=True).drop_duplicates()
    
    for i in range(n):
        recs.append((top_ranked.iloc[i].title, top_ranked.iloc[i].img_url))
                    
    return recs

In [20]:
top_rated = get_top_rated(10)
print(top_rated[0])

('Fullmetal Alchemist: Brotherhood', 'https://cdn.myanimelist.net/images/anime/1223/96541.jpg')

In [21]:
print(top_rated[5])

('Gintama°', 'https://cdn.myanimelist.net/images/anime/3/72078.jpg')

In [22]:
def get_top_rated_genre(genre, n, df=animes_df):
    '''
    INPUT:
    genre - a string containing the genre that will be filtered by
    n - the number of recommendations to be returned
    df - the animes df from above
    
    OUTPUT:
    recs - a list of recommendations with title and url link
    '''
    
    recs = []
    genre_df = df[df[genre] == 1].sort_values(by='score', ascending=False).drop_duplicates()
    
    for i in range(n):
        recs.append((genre_df.iloc[i].title, genre_df.iloc[i].img_url))
    
    return recs

In [23]:
genre = 'Romance'
romance_recs = get_top_rated_genre(genre, 20)
romance_recs

[('Kimi no Na wa.', 'https://cdn.myanimelist.net/images/anime/5/87048.jpg'),
 ('Clannad: After Story',
  'https://cdn.myanimelist.net/images/anime/13/24647.jpg'),
 ('Shigatsu wa Kimi no Uso',
  'https://cdn.myanimelist.net/images/anime/3/67177.jpg'),
 ('Monogatari Series: Second Season',
  'https://cdn.myanimelist.net/images/anime/3/52133.jpg'),
 ('Rurouni Kenshin: Meiji Kenkaku Romantan - Tsuioku-hen',
  'https://cdn.myanimelist.net/images/anime/1807/102419.jpg'),
 ('Seishun Buta Yarou wa Yumemiru Shoujo no Yume wo Minai',
  'https://cdn.myanimelist.net/images/anime/1613/102179.jpg'),
 ('Howl no Ugoku Shiro',
  'https://cdn.myanimelist.net/images/anime/5/75810.jpg'),
 ('Suzumiya Haruhi no Shoushitsu',
  'https://cdn.myanimelist.net/images/anime/2/73842.jpg'),
 ('Yojouhan Shinwa Taikei',
  'https://cdn.myanimelist.net/images/anime/10/50457.jpg'),
 ('Bakuman. 3rd Season',
  'https://cdn.myanimelist.net/images/anime/6/41845.jpg'),
 ('Kara no Kyoukai 5: Mujun Rasen',
  'https://cdn.myanimelist.net/images/anime/8/9246.jpg'),
 ('Tenki no Ko', 'https://cdn.myanimelist.net/images/anime/1880/101146.jpg'),
 ('No Game No Life: Zero',
  'https://cdn.myanimelist.net/images/anime/1085/90759.jpg'),
 ('Kenpuu Denki Berserk',
  'https://cdn.myanimelist.net/images/anime/12/18520.jpg'),
 ('Hotarubi no Mori e',
  'https://cdn.myanimelist.net/images/anime/8/38229.jpg'),
 ('Kono Oto Tomare! 2nd Season',
  'https://cdn.myanimelist.net/images/anime/1547/103054.jpg'),
 ('Kara no Kyoukai 7: Satsujin Kousatsu (Kou)',
  'https://cdn.myanimelist.net/images/anime/9/56619.jpg'),
 ('Nana', 'https://cdn.myanimelist.net/images/anime/2/11232.jpg'),
 ('Major S5', 'https://cdn.myanimelist.net/images/anime/9/75218.jpg'),
 ('Seishun Buta Yarou wa Bunny Girl Senpai no Yume wo Minai',
  'https://cdn.myanimelist.net/images/anime/1301/93586.jpg')]

In [24]:
def get_top_rated_decade(decade, n, df=animes_df):
    '''
    INPUT:
    decade - a string containing the decade that will be filtered by
    n - the number of recommendations to be returned
    df - the animes df from above
    
    OUTPUT:
    recs - a list of recommendations with title and url link
    '''
    
    recs = []
    decade_df = df[df[decade] == 1].sort_values(by='score', ascending=False).drop_duplicates()
    
    for i in range(n):
        recs.append((decade_df.iloc[i].title, decade_df.iloc[i].img_url))
    
    return recs

In [25]:
decade = '1990s'
decades_df = get_top_rated_decade(decade, 20)
decades_df

[('Kaitei-koku no Koutsu Anzen',
  'https://cdn.myanimelist.net/images/anime/1957/99484.jpg'),
 ('Cowboy Bebop', 'https://cdn.myanimelist.net/images/anime/4/19644.jpg'),
 ('Mononoke Hime', 'https://cdn.myanimelist.net/images/anime/7/75919.jpg'),
 ('Rurouni Kenshin: Meiji Kenkaku Romantan - Tsuioku-hen',
  'https://cdn.myanimelist.net/images/anime/1807/102419.jpg'),
 ('Great Teacher Onizuka',
  'https://cdn.myanimelist.net/images/anime/13/11460.jpg'),
 ('Slam Dunk', 'https://cdn.myanimelist.net/images/anime/12/86890.jpg'),
 ('One Piece', 'https://cdn.myanimelist.net/images/anime/6/73245.jpg'),
 ('Neon Genesis Evangelion: The End of Evangelion',
  'https://cdn.myanimelist.net/images/anime/12/39305.jpg'),
 ('Time Slip 1923: Mori no Miracle Jishin Taiken',
  'https://cdn.myanimelist.net/images/anime/1511/98953.jpg'),
 ('Kenpuu Denki Berserk',
  'https://cdn.myanimelist.net/images/anime/12/18520.jpg'),
 ('Yuu☆Yuu☆Hakusho', 'https://cdn.myanimelist.net/images/anime/8/25152.jpg'),
 ('Hunter x Hunter', 'https://cdn.myanimelist.net/images/anime/8/19473.jpg'),
 ('Perfect Blue', 'https://cdn.myanimelist.net/images/anime/11/79127.jpg'),
 ('Rurouni Kenshin: Meiji Kenkaku Romantan',
  'https://cdn.myanimelist.net/images/anime/7/6803.jpg'),
 ('Somei-ka no Hi no Youjin: Bouka no Tebiki Katei-hen',
  'https://cdn.myanimelist.net/images/anime/9/68953.jpg'),
 ('Koukaku Kidoutai', 'https://cdn.myanimelist.net/images/anime/10/82594.jpg'),
 ('Neon Genesis Evangelion',
  'https://cdn.myanimelist.net/images/anime/12/21418.jpg'),
 ('Ticonderonga no Iru Umi',
  'https://cdn.myanimelist.net/images/anime/3/67455.jpg'),
 ('Initial D First Stage',
  'https://cdn.myanimelist.net/images/anime/13/6801.jpg'),
 ('Romeo no Aoi Sora', 'https://cdn.myanimelist.net/images/anime/4/17979.jpg')]

## Users Data

In [22]:
users_df.head()

,profile,gender,birthday,favorites_anime,link
0,DesolatePsyche,Male,"Oct 2, 1994","['33352', '25013', '5530', '33674', '1482', '2...",https://myanimelist.net/profile/DesolatePsyche
1,baekbeans,Female,"Nov 10, 2000","['11061', '31964', '853', '20583', '918', '925...",https://myanimelist.net/profile/baekbeans
2,skrn,NaN,NaN,"['918', '2904', '11741', '17074', '23273', '32...",https://myanimelist.net/profile/skrn
3,edgewalker00,Male,Sep 5,"['5680', '849', '2904', '3588', '37349']",https://myanimelist.net/profile/edgewalker00
4,aManOfCulture99,Male,"Oct 30, 1999","['4181', '7791', '9617', '5680', '2167', '4382...",https://myanimelist.net/profile/aManOfCulture99

In [23]:
users_df.shape

(81727, 5)

In [24]:
reviews_df.head()

,uid,profile,anime_uid,text,score,scores,link
0,255938,DesolatePsyche,34096,\n \n \n \n ...,8,"{'Overall': '8', 'Story': '8', 'Animation': '8...",https://myanimelist.net/reviews.php?id=255938
1,259117,baekbeans,34599,\n \n \n \n ...,10,"{'Overall': '10', 'Story': '10', 'Animation': ...",https://myanimelist.net/reviews.php?id=259117
2,253664,skrn,28891,\n \n \n \n ...,7,"{'Overall': '7', 'Story': '7', 'Animation': '9...",https://myanimelist.net/reviews.php?id=253664
3,8254,edgewalker00,2904,\n \n \n \n ...,9,"{'Overall': '9', 'Story': '9', 'Animation': '9...",https://myanimelist.net/reviews.php?id=8254
4,291149,aManOfCulture99,4181,\n \n \n \n ...,10,"{'Overall': '10', 'Story': '10', 'Animation': ...",https://myanimelist.net/reviews.php?id=291149

In [26]:
user_item = reviews_df[['uid', 'anime_uid', 'score']]
user_item.head()

      uid  anime_uid  score
0  255938      34096      8
1  259117      34599     10
2  253664      28891      7
3    8254       2904      9
4  291149       4181     10

In [27]:
user_item_matrix = user_item.groupby(['uid', 'anime_uid'])['score'].max().unstack()

In [28]:
user_item_matrix.head()

anime_uid,1,5,6,7,8,15,16,17,18,19,...,40394,40420,40438,40477,40480,40489,40542,40693,40769,40807
uid,,,,,,,,,,,,,,,,,,,,,
1,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
def get_movies_watched(user_id):