# Data Exploration and Analysis
The following notebook will take a look at the data sets that will be used in the recommendation engine and prep the data for use in the engine itself.

## Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Read in Data

In [2]:
animes_df = pd.read_csv('data/animes.csv')
users_df = pd.read_csv('data/profiles.csv')
reviews_df = pd.read_csv('data/reviews.csv')

print("Animes DF: {}\nUsers DF: {}\nReviews DF: {}".format(animes_df.shape, users_df.shape, reviews_df.shape))

Animes DF: (19311, 12)
Users DF: (81727, 5)
Reviews DF: (192112, 7)

In [5]:
animes_df.head()

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,https://myanimelist.net/anime/28891/Haikyuu_Se...
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/671...,https://myanimelist.net/anime/23273/Shigatsu_w...
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/867...,https://myanimelist.net/anime/34599/Made_in_Abyss
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,https://myanimelist.net/anime/5114/Fullmetal_A...
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/815...,https://myanimelist.net/anime/31758/Kizumonoga...

### Animes DataFrame Exploration and Cleaning

First I want to check for duplicate and null rows. If there are, I want to get rid of them. I purposely used this dataset because there were no null values. So I expect isnull().sum() to return 0.

In [6]:
animes_df.duplicated().sum()

2943

In [7]:
animes_df.drop_duplicates(inplace=True)

In [8]:
animes_df.duplicated().sum()

0

In [9]:
animes_df.genre.isnull().sum()

0

One thing I noticed when looking through the dataset was that some of the show titles have special characters that will make routing to the show info page result in an error so they need to be replaced.

In [ ]:
animes_df['title'] = [w.replace('/','-') for w in animes_df['title']]

In [ ]:
animes_df['title'] = [w.replace('?','') for w in animes_df['title']]

Perfect! One thing I noticed about the animes dataframe was that the genre for each anime seems to be a list of genres. I want to check what data type the genre column is and create a column for each genre type.

In [9]:
animes_df['genre'].dtype

dtype('O')

The data type of the genre column seems to be an Object, meaning a string. So I need to loop through the genre column and get a set of the genres.

In [10]:
genres = []

# for every anime, split the genre column value to get each genre type
for genre_set in animes_df.genre:
    values = genre_set.strip("[]").split(",")
    values = [w.strip()[1:-1] for w in values]
    
    # add genres to list
    genres.extend(values)

# drop all duplicate values
genres = set(genres)
print("The number of genres is {}.".format(len(genres)))
print(genres)

The number of genres is 44.
{'', 'Game', 'Magic', 'Shoujo', 'Super Power', 'Shounen Ai', 'Dementia', 'Seinen', 'Hentai', 'Parody', 'Music', 'Samurai', 'Romance', 'Psychological', 'Comedy', 'Yaoi', 'Action', 'Demons', 'Shounen', 'Sci-Fi', 'Kids', 'Josei', 'Thriller', 'Slice of Life', 'Cars', 'Vampire', 'Historical', 'Shoujo Ai', 'Yuri', 'Drama', 'Supernatural', 'Mystery', 'Fantasy', 'Military', 'Mecha', 'Harem', 'Police', 'Horror', 'Martial Arts', 'Sports', 'Adventure', 'Ecchi', 'School', 'Space'}

Notice the first element is empty. This happend when calling split. We can quickly delete that.

In [11]:
genres = list(genres)
genres.pop(0)
genres = sorted(genres)
print("The number of genres is {}.".format(len(genres)))
print(genres)

The number of genres is 43.
['Action', 'Adventure', 'Cars', 'Comedy', 'Dementia', 'Demons', 'Drama', 'Ecchi', 'Fantasy', 'Game', 'Harem', 'Hentai', 'Historical', 'Horror', 'Josei', 'Kids', 'Magic', 'Martial Arts', 'Mecha', 'Military', 'Music', 'Mystery', 'Parody', 'Police', 'Psychological', 'Romance', 'Samurai', 'School', 'Sci-Fi', 'Seinen', 'Shoujo', 'Shoujo Ai', 'Shounen', 'Shounen Ai', 'Slice of Life', 'Space', 'Sports', 'Super Power', 'Supernatural', 'Thriller', 'Vampire', 'Yaoi', 'Yuri']

Now that I have a list of all possible genre types. I wanted to make a column for each genre. The value of the column will be a 1 if an anime is listed under this genre or a 0 if it is not.

In [12]:
def split_genres(anime):
    '''
    Will split the genre column of any anime row and return a 1 if the anime is listed in that genre.
    
    INPUT:
    anime - a string of the genres column for a specific anime
    
    OUTPUT:
    1 - if anime is listed in genre
    0 - if anime is not listed in genre
    '''
    try:
        if anime.find(genre) > -1:
            return 1
        else:
            return 0
    except AttributeError:
        return 0

# create column for each genre and fill in columns
for genre in genres:
    animes_df[genre] = animes_df['genre'].apply(split_genres)

Now there is an easier way to identify the genres that an anime is listed as. This will be used for filtering and content based recommendations.

In [13]:
animes_df.head()

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,...,Shounen Ai,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Vampire,Yaoi,Yuri
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,...,0,0,0,1,0,0,0,0,0,0
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,...,0,0,0,0,0,0,0,0,0,0
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,...,0,0,0,0,0,0,0,0,0,0
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,...,0,0,0,0,0,0,0,0,0,0
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,...,0,0,0,0,0,1,0,1,0,0

## Create Decade columns for further filtering

I followed the same process as above and extracted the decades that these shows aired and created a column for each decade. 1 will indicated that the show is from that decade, otherwise 0.

In [14]:
def split_anime_decade(val, decade):
    '''
    INPUT:
    val the 'aired' column value for a row
    decade - one of the values from the (list) decade list 
             below this cell
    
    OUTPUT:
    1 - if show in decade
    0 - if show not in decade
    '''
    # extract year from string
    try:
        year = val.split(',')[1]
        year = year.strip()[:4]
    except:
        year = val.strip()[:4]
    
    # decide wether show belongs to decade
    try:
        if decade == 'Pre 1970':
            if int(year) < 1970:
                return 1
            return 0
        if int(year) >= int(decade) and int(year) < int(decade) + 10:
            return 1
        else:
            return 0
    except:
        return 0

It was hard to extract all of the air dates with the way the 'aired' column was set up so I decided to group every show before 1970 to be its own 'decade'.

In [15]:
# valid decades
decades = ['Pre 1970s', '1970s', '1980s', '1990s', '2000s', '2010s']

# for every decade, find what shows belong to it
for decade in decades:
    column = []
    for row in animes_df['aired']:
        column.append(split_anime_decade(row, decade[:-1]))
    animes_df[decade] = column
    
animes_df.head()

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,...,Thriller,Vampire,Yaoi,Yuri,Pre 1970s,1970s,1980s,1990s,2000s,2010s
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,...,0,0,0,0,0,0,0,0,0,1
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,...,0,0,0,0,0,0,0,0,0,1
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,...,0,0,0,0,0,0,0,0,0,1
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,...,0,0,0,0,0,0,0,0,1,0
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,...,0,1,0,0,0,0,0,0,0,1

The genre and aired columns are dropped because they are no longer needed. There is an easier way to identify what genres a show belongs to now.

In [16]:
animes_df = animes_df.drop(['genre', 'aired'], axis=1)
animes_df.head()

,uid,title,synopsis,episodes,members,popularity,ranked,score,img_url,link,...,Thriller,Vampire,Yaoi,Yuri,Pre 1970s,1970s,1980s,1990s,2000s,2010s
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,https://myanimelist.net/anime/28891/Haikyuu_Se...,...,0,0,0,0,0,0,0,0,0,1
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/671...,https://myanimelist.net/anime/23273/Shigatsu_w...,...,0,0,0,0,0,0,0,0,0,1
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/867...,https://myanimelist.net/anime/34599/Made_in_Abyss,...,0,0,0,0,0,0,0,0,0,1
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,https://myanimelist.net/anime/5114/Fullmetal_A...,...,0,0,0,0,0,0,0,0,1,0
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/815...,https://myanimelist.net/anime/31758/Kizumonoga...,...,0,1,0,0,0,0,0,0,0,1

In [17]:
# save to a new csv file
animes_df.to_csv('./data/animes-clean.csv')

## Ranked Based Filtering
Now that the anime shows dataframe is clean. Ranked based filtering functions can now be made.

The first filtering function is simply sorting by the top rated shows.

In [18]:
def get_top_rated(n, df=animes_df):
    '''
    INPUT:
    df - animes df from cells above
    n - number of recs to return
    
    OUTPUT:
    recs -  the name and img url of the all time top rated animes
    '''
    recs = []
    top_ranked = df.sort_values(by='ranked', ascending=True).drop_duplicates()
    
    for i in range(n):
        recs.append((top_ranked.iloc[i].title, top_ranked.iloc[i].img_url))
                    
    return recs

In [19]:
top_rated = get_top_rated(10)
print(top_rated)

('Fullmetal Alchemist: Brotherhood', 'https://cdn.myanimelist.net/images/anime/1223/96541.jpg')

In [20]:
print(top_rated[5])

('Gintama°', 'https://cdn.myanimelist.net/images/anime/3/72078.jpg')

Next is filtering the shows by a specific genre and sorting by high rated.

In [21]:
def get_top_rated_genre(genre, n, df=animes_df):
    '''
    INPUT:
    genre - a string containing the genre that will be filtered by
    n - the number of recommendations to be returned
    df - the animes df from above
    
    OUTPUT:
    recs - a list of recommendations with title and url link
    '''
    
    recs = []
    genre_df = df[df[genre] == 1].sort_values(by='score', ascending=False).drop_duplicates()
    
    for i in range(n):
        recs.append((genre_df.iloc[i].title, genre_df.iloc[i].img_url))
    
    return recs

In [22]:
genre = 'Romance'
romance_recs = get_top_rated_genre(genre, 20)
romance_recs

[('Kimi no Na wa.', 'https://cdn.myanimelist.net/images/anime/5/87048.jpg'),
 ('Clannad: After Story',
  'https://cdn.myanimelist.net/images/anime/13/24647.jpg'),
 ('Shigatsu wa Kimi no Uso',
  'https://cdn.myanimelist.net/images/anime/3/67177.jpg'),
 ('Monogatari Series: Second Season',
  'https://cdn.myanimelist.net/images/anime/3/52133.jpg'),
 ('Rurouni Kenshin: Meiji Kenkaku Romantan - Tsuioku-hen',
  'https://cdn.myanimelist.net/images/anime/1807/102419.jpg'),
 ('Seishun Buta Yarou wa Yumemiru Shoujo no Yume wo Minai',
  'https://cdn.myanimelist.net/images/anime/1613/102179.jpg'),
 ('Howl no Ugoku Shiro',
  'https://cdn.myanimelist.net/images/anime/5/75810.jpg'),
 ('Suzumiya Haruhi no Shoushitsu',
  'https://cdn.myanimelist.net/images/anime/2/73842.jpg'),
 ('Yojouhan Shinwa Taikei',
  'https://cdn.myanimelist.net/images/anime/10/50457.jpg'),
 ('Bakuman. 3rd Season',
  'https://cdn.myanimelist.net/images/anime/6/41845.jpg'),
 ('Kara no Kyoukai 5: Mujun Rasen',
  'https://cdn.myanimelist.net/images/anime/8/9246.jpg'),
 ('Tenki no Ko', 'https://cdn.myanimelist.net/images/anime/1880/101146.jpg'),
 ('No Game No Life: Zero',
  'https://cdn.myanimelist.net/images/anime/1085/90759.jpg'),
 ('Kenpuu Denki Berserk',
  'https://cdn.myanimelist.net/images/anime/12/18520.jpg'),
 ('Hotarubi no Mori e',
  'https://cdn.myanimelist.net/images/anime/8/38229.jpg'),
 ('Kono Oto Tomare! 2nd Season',
  'https://cdn.myanimelist.net/images/anime/1547/103054.jpg'),
 ('Kara no Kyoukai 7: Satsujin Kousatsu (Kou)',
  'https://cdn.myanimelist.net/images/anime/9/56619.jpg'),
 ('Nana', 'https://cdn.myanimelist.net/images/anime/2/11232.jpg'),
 ('Major S5', 'https://cdn.myanimelist.net/images/anime/9/75218.jpg'),
 ('Seishun Buta Yarou wa Bunny Girl Senpai no Yume wo Minai',
  'https://cdn.myanimelist.net/images/anime/1301/93586.jpg')]

The last ranked based filter is by the decade of the show.

In [23]:
def get_top_rated_decade(decade, n, df=animes_df):
    '''
    INPUT:
    decade - a string containing the decade that will be filtered by
    n - the number of recommendations to be returned
    df - the animes df from above
    
    OUTPUT:
    recs - a list of recommendations with title and url link
    '''
    
    recs = []
    decade_df = df[df[decade] == 1].sort_values(by='score', ascending=False).drop_duplicates()
    
    for i in range(n):
        recs.append((decade_df.iloc[i].title, decade_df.iloc[i].img_url))
    
    return recs

In [24]:
decade = '1990s'
decades_df = get_top_rated_decade(decade, 20)
decades_df

[('Kaitei-koku no Koutsu Anzen',
  'https://cdn.myanimelist.net/images/anime/1957/99484.jpg'),
 ('Cowboy Bebop', 'https://cdn.myanimelist.net/images/anime/4/19644.jpg'),
 ('Mononoke Hime', 'https://cdn.myanimelist.net/images/anime/7/75919.jpg'),
 ('Rurouni Kenshin: Meiji Kenkaku Romantan - Tsuioku-hen',
  'https://cdn.myanimelist.net/images/anime/1807/102419.jpg'),
 ('Great Teacher Onizuka',
  'https://cdn.myanimelist.net/images/anime/13/11460.jpg'),
 ('Slam Dunk', 'https://cdn.myanimelist.net/images/anime/12/86890.jpg'),
 ('One Piece', 'https://cdn.myanimelist.net/images/anime/6/73245.jpg'),
 ('Neon Genesis Evangelion: The End of Evangelion',
  'https://cdn.myanimelist.net/images/anime/12/39305.jpg'),
 ('Time Slip 1923: Mori no Miracle Jishin Taiken',
  'https://cdn.myanimelist.net/images/anime/1511/98953.jpg'),
 ('Kenpuu Denki Berserk',
  'https://cdn.myanimelist.net/images/anime/12/18520.jpg'),
 ('Yuu☆Yuu☆Hakusho', 'https://cdn.myanimelist.net/images/anime/8/25152.jpg'),
 ('Hunter x Hunter', 'https://cdn.myanimelist.net/images/anime/8/19473.jpg'),
 ('Perfect Blue', 'https://cdn.myanimelist.net/images/anime/11/79127.jpg'),
 ('Rurouni Kenshin: Meiji Kenkaku Romantan',
  'https://cdn.myanimelist.net/images/anime/7/6803.jpg'),
 ('Somei-ka no Hi no Youjin: Bouka no Tebiki Katei-hen',
  'https://cdn.myanimelist.net/images/anime/9/68953.jpg'),
 ('Koukaku Kidoutai', 'https://cdn.myanimelist.net/images/anime/10/82594.jpg'),
 ('Neon Genesis Evangelion',
  'https://cdn.myanimelist.net/images/anime/12/21418.jpg'),
 ('Ticonderonga no Iru Umi',
  'https://cdn.myanimelist.net/images/anime/3/67455.jpg'),
 ('Initial D First Stage',
  'https://cdn.myanimelist.net/images/anime/13/6801.jpg'),
 ('Romeo no Aoi Sora', 'https://cdn.myanimelist.net/images/anime/4/17979.jpg')]

# Content Based Filtering

To find similar shows, a subset of the animes_df has to created of just the genres and decades. The subset should be a matrix filled with 1's and 0's. The dot product needs to be taken of that subset with the transpose of that subset to find the similarity between any two shows.

In [ ]:
animes_clean_df = pd.read_csv('data/animes-clean.csv')

In [6]:
# get a subset of the animes df starting at the first genre column
show_contents = animes_clean_df.iloc[:, 11:]
# take the dot product of that subset with the transpose of that subset
dot_prod_shows = show_contents.dot(np.transpose(show_contents))

In [60]:
print(type(dot_prod_shows))

<class 'pandas.core.frame.DataFrame'>

Run the cell below to see the dot product matrix. The higher the number in a cell, the more similar the two shows are.

In [50]:
dot_prod_shows.head()

,0,1,2,3,4,5,6,7,8,9,...,16358,16359,16360,16361,16362,16363,16364,16365,16366,16367
0,6,4,2,3,1,2,1,2,2,1,...,4,2,1,3,2,3,2,3,1,4
1,4,6,2,2,1,1,1,2,1,1,...,3,1,3,3,2,2,1,2,1,4
2,2,2,6,3,2,1,2,1,2,2,...,2,3,1,1,1,1,1,1,1,2
3,3,2,3,9,1,2,3,2,1,4,...,2,4,0,1,1,3,1,2,1,2
4,1,1,2,1,5,3,1,3,4,1,...,1,0,2,1,1,2,2,1,2,1

In [ ]:
dot_prod_shows.shape

Save the dot product matrix in a new csv file.

In [8]:
dot_prod_shows.to_csv('./data/similar-shows.csv')

Finding similar shows will be easy now with the dot product matrix. Looking at the row that corresponds to the anime, the function will grab the other anime ids that have a higher number in the cell (i.e. the more similar animes) and return a pandas dataframe filled only with the data of the most similar shows.

In [5]:
def find_similar_shows(anime_id):
    '''
    Finds similar shows based on what genres/decades they have in common
    
    INPUT:
    anime_id - int, id of anime show that appears in the animes_df
    
    OUTPUT:
    similar_shows - pandas dataframe of similar shows sorted by highest rated
    '''
    show_idx = np.where(animes_clean_df['uid'] == anime_id)[0][0]
    
    similar_idxs = np.where(dot_prod_shows_df.iloc[show_idx] > np.max(dot_prod_shows_df.iloc[show_idx])-2)[0]
    
    similar_shows = animes_df.iloc[similar_idxs, ]
    similar_shows = similar_shows[similar_shows['uid'] != anime_id]
    similar_shows.sort_values(by=['score'], ascending=False)
    
    
    return similar_shows

In [97]:
a = find_similar_shows(11061)
for name, img in zip(a['title'], a['img_url']):
    print(name, img)

Saint Seiya: Meiou Hades Meikai-hen https://cdn.myanimelist.net/images/anime/12/75732.jpg
Shingeki no Kyojin OVA https://cdn.myanimelist.net/images/anime/9/59221.jpg
Magi: Sinbad no Bouken https://cdn.myanimelist.net/images/anime/13/60471.jpg
Fairy Tail (2014) https://cdn.myanimelist.net/images/anime/3/60551.jpg
Kekkai Sensen & Beyond https://cdn.myanimelist.net/images/anime/3/88282.jpg
One Piece: Episode of East Blue - Luffy to 4-nin no Nakama no Daibouken https://cdn.myanimelist.net/images/anime/10/87473.jpg
Magi: Sinbad no Bouken (TV) https://cdn.myanimelist.net/images/anime/10/78783.jpg
One Piece Film: Gold https://cdn.myanimelist.net/images/anime/12/81081.jpg
One Piece Film: Strong World Episode 0 https://cdn.myanimelist.net/images/anime/2/24152.jpg
Nanatsu no Taizai https://cdn.myanimelist.net/images/anime/8/65409.jpg
Saint Seiya: The Lost Canvas - Meiou Shinwa 2 https://cdn.myanimelist.net/images/anime/12/29597.jpg
One Piece: Episode of Nami - Koukaishi no Namida to Nakama no Kizuna https://cdn.myanimelist.net/images/anime/5/41415.jpg
Magi: The Labyrinth of Magic https://cdn.myanimelist.net/images/anime/11/42773.jpg
One Piece Movie 14: Stampede https://cdn.myanimelist.net/images/anime/1221/100550.jpg
Nanatsu no Taizai: Imashime no Fukkatsu https://cdn.myanimelist.net/images/anime/11/90089.jpg
One Piece: Episode of Merry - Mou Hitori no Nakama no Monogatari https://cdn.myanimelist.net/images/anime/9/61015.jpg
Dragon Ball Super Movie: Broly https://cdn.myanimelist.net/images/anime/1575/93498.jpg
Hunter x Hunter: Greed Island https://cdn.myanimelist.net/images/anime/13/37203.jpg
One Piece Film: Z https://cdn.myanimelist.net/images/anime/6/44297.jpg
Dragon Ball Z https://cdn.myanimelist.net/images/anime/6/20936.jpg
Hunter x Hunter: Greed Island Final https://cdn.myanimelist.net/images/anime/1/139.jpg
Magi: The Kingdom of Magic https://cdn.myanimelist.net/images/anime/13/55039.jpg
Shingeki no Kyojin Season 2 https://cdn.myanimelist.net/images/anime/4/84177.jpg
Hunter x Hunter https://cdn.myanimelist.net/images/anime/8/19473.jpg
Shingeki no Kyojin https://cdn.myanimelist.net/images/anime/10/47347.jpg
Shingeki no Kyojin Season 3 https://cdn.myanimelist.net/images/anime/1173/92110.jpg
One Piece https://cdn.myanimelist.net/images/anime/6/73245.jpg
Shingeki no Kyojin Season 3 Part 2 https://cdn.myanimelist.net/images/anime/1517/100633.jpg
D.Gray-man Hallow https://cdn.myanimelist.net/images/anime/12/80766.jpg
Claymore https://cdn.myanimelist.net/images/anime/3/21834.jpg
Dragon Ball Kai https://cdn.myanimelist.net/images/anime/6/14065.jpg
Fairy Tail: Final Series https://cdn.myanimelist.net/images/anime/1536/93863.jpg
Dragon Ball Kai (2014) https://cdn.myanimelist.net/images/anime/10/59275.jpg
Shingeki no Kyojin Season 2 Movie: Kakusei no Houkou https://cdn.myanimelist.net/images/anime/1710/95650.jpg
Naruto: Shippuuden Movie 6 - Road to Ninja https://cdn.myanimelist.net/images/anime/6/51863.jpg
Arslan Senki (TV) https://cdn.myanimelist.net/images/anime/6/73588.jpg
One Piece: Episode of Sabo - 3 Kyoudai no Kizuna Kiseki no Saikai to Uketsugareru Ishi https://cdn.myanimelist.net/images/anime/2/75887.jpg
One Piece: Episode of Luffy - Hand Island no Bouken https://cdn.myanimelist.net/images/anime/8/52463.jpg
Nanatsu no Taizai OVA https://cdn.myanimelist.net/images/anime/1973/97505.jpg
Shingeki no Kyojin Movie 2: Jiyuu no Tsubasa https://cdn.myanimelist.net/images/anime/2/72510.jpg
Gunjou no Magmell https://cdn.myanimelist.net/images/anime/1063/98597.jpg
Dragon Ball Z Movie 11: Super Senshi Gekiha!! Katsu no wa Ore da https://cdn.myanimelist.net/images/anime/1035/93674.jpg
Doraemon Movie 04: Nobita no Kaitei Kiganjou https://cdn.myanimelist.net/images/anime/13/72409.jpg
Azumanga Daioh: Gekijou Tanpen https://cdn.myanimelist.net/images/anime/12/59965.jpg
Chou Deneiban SD Gundam Sangokuden Brave Battle Warriors https://cdn.myanimelist.net/images/anime/9/20218.jpg
Hello Kitty: Mahou no Mori no Ohimesama https://cdn.myanimelist.net/images/anime/8/50227.jpg
Kekkaku Yobou https://cdn.myanimelist.net/images/anime/9/85237.jpg
God Eater Reso Nantoka Gekijou: Episode EX https://cdn.myanimelist.net/images/anime/1644/95139.jpg
Ribbon no Kishi Pilot https://cdn.myanimelist.net/images/anime/12/58317.jpg
Mahou no Yousei Persia: Escape! https://cdn.myanimelist.net/images/anime/6/58393.jpg
Space Station No.9 https://cdn.myanimelist.net/images/anime/2/6817.jpg
Bokura no https://cdn.myanimelist.net/images/anime/1690/97048.jpg
Busou Chuugakusei: Basket Army https://cdn.myanimelist.net/images/anime/10/48839.jpg
Heisei Policemen!! https://cdn.myanimelist.net/images/anime/1575/91828.jpg
Kare Baka: Wagahai no Kare wa Baka de R https://cdn.myanimelist.net/images/anime/2/76734.jpg
Girl Electric https://cdn.myanimelist.net/images/anime/8/85691.jpg
Birthday Boy https://cdn.myanimelist.net/images/anime/6/11253.jpg
Little Witch Academia https://cdn.myanimelist.net/images/anime/2/42989.jpg
Wellber no Monogatari: Kanashimi no Senshi Galahad no Banka https://cdn.myanimelist.net/images/anime/3/25947.jpg
Pittanko!! Nekozakana https://cdn.myanimelist.net/images/anime/1058/102001.jpg
Feng Yu Zhou https://cdn.myanimelist.net/images/anime/1090/95412.jpg
Suite Precure♪ Movie: Torimodose! Kokoro ga Tsunagu Kiseki no Melody♪ https://cdn.myanimelist.net/images/anime/1159/99768.jpg
Otogi Juushi Akazukin https://cdn.myanimelist.net/images/anime/7/50145.jpg
Pikmin Short Movies https://cdn.myanimelist.net/images/anime/2/78421.jpg
Shoujo☆Kageki Revue Starlight https://cdn.myanimelist.net/images/anime/1165/93552.jpg
Fairy Tail OVA https://cdn.myanimelist.net/images/anime/10/65661.jpg
Hidan no Aria https://cdn.myanimelist.net/images/anime/9/30095.jpg
One Piece 3D2Y: Ace no shi wo Koete! Luffy Nakama Tono Chikai https://cdn.myanimelist.net/images/anime/3/64755.jpg
Gintama: Dai Hanseikai https://cdn.myanimelist.net/images/anime/7/29295.jpg
Fuichin-san https://cdn.myanimelist.net/images/anime/11/62189.jpg
Freezing Vibration https://cdn.myanimelist.net/images/anime/3/68195.jpg
Tell Your World https://cdn.myanimelist.net/images/anime/2/42663.jpg
Moshidora https://cdn.myanimelist.net/images/anime/9/29166.jpg
Urusei Yatsura Movie 5: Kanketsu-hen https://cdn.myanimelist.net/images/anime/5/3001.jpg
Metropolis https://cdn.myanimelist.net/images/anime/4/75601.jpg
Suteki Desu wa, Sakura-chan! Tomoyo no Cardcaptor Sakura Katsuyaku Video Nikki! https://cdn.myanimelist.net/images/anime/10/68205.jpg
Ai Shoujo Pollyanna Story https://cdn.myanimelist.net/images/anime/13/71674.jpg
Mokke Specials https://cdn.myanimelist.net/images/anime/2/7761.jpg
Tamako Love Story https://cdn.myanimelist.net/images/anime/1417/91333.jpg
Gekkan Shoujo Nozaki-kun https://cdn.myanimelist.net/images/anime/5/66083.jpg
Naruto: Dai Katsugeki!! Yuki Hime Shinobu Houjou Dattebayo! - Konoha no Sato no Dai Undouaki https://cdn.myanimelist.net/images/anime/1/2473.jpg
Wakakusa no Charlotte https://cdn.myanimelist.net/images/anime/4/5035.jpg
Days of Delight https://cdn.myanimelist.net/images/anime/1283/97874.jpg
Penguin Musume♥Heart https://cdn.myanimelist.net/images/anime/2/8270.jpg
Needless+: Saint Lily Gakuen no Himitsu https://cdn.myanimelist.net/images/anime/12/17467.jpg
Kojin Toshi https://cdn.myanimelist.net/images/anime/12/76311.jpg
Mahou no Yousei Persia https://cdn.myanimelist.net/images/anime/8/41447.jpg
Osamishi Tani no Wakare Uta https://cdn.myanimelist.net/images/anime/6/72050.jpg
Utawarerumono: Tusukuru-koujo no Karei Naru Hibi https://cdn.myanimelist.net/images/anime/7/88928.jpg
Ano Yama ni Noborou yo https://cdn.myanimelist.net/images/anime/3/50217.jpg
Goman-hiki https://cdn.myanimelist.net/images/anime/7/72003.jpg
Hong Mao Lan Tu: Guangming Jian https://cdn.myanimelist.net/images/anime/1848/98705.jpg
Trigun https://cdn.myanimelist.net/images/anime/7/20310.jpg
Hangyodon no Parallel Daisakusen: Hana no Oedo wa Oosawagi https://cdn.myanimelist.net/images/anime/4/84565.jpg
Kamiusagi Rope x Ricordi https://cdn.myanimelist.net/images/anime/1016/103357.jpg
Itsumo Kokoro ni Hohoemi wo nan
Da Zhu Zai https://cdn.myanimelist.net/images/anime/1857/102517.jpg
X/1999 https://cdn.myanimelist.net/images/anime/7/23579.jpg
Kotatsu Musume de Teketekete https://cdn.myanimelist.net/images/anime/3/87772.jpg
Slippy Dandy nan
Hataraku Onii-san! https://cdn.myanimelist.net/images/anime/10/88930.jpg
Hangyakusei Million Arthur Special https://cdn.myanimelist.net/images/anime/1632/95918.jpg
Himawari! https://cdn.myanimelist.net/images/anime/3/10221.jpg
Yume no Tochuu de https://cdn.myanimelist.net/images/anime/7/89910.jpg
Fate/Apocrypha Recaps https://cdn.myanimelist.net/images/anime/1661/102468.jpg
Nakanohito Genome [Jikkyouchuu]: Knots of Memories https://cdn.myanimelist.net/images/anime/1118/103618.jpg
Zhu Zhu Xia: Yong Chuang Juren Dao https://cdn.myanimelist.net/images/anime/1784/93360.jpg
Zukkoke Sannin-gumi: Kusunoki Yashiki no Guruguru-sama https://cdn.myanimelist.net/images/anime/13/88358.jpg
Cinderella Girls Gekijou: Climax Season https://cdn.myanimelist.net/images/anime/1315/99901.jpg
Hiyokoi https://cdn.myanimelist.net/images/anime/7/27766.jpg
Muteki Robo Trider G7 https://cdn.myanimelist.net/images/anime/1703/93953.jpg
Evangelion: Another Impact (VR) https://cdn.myanimelist.net/images/anime/1351/93244.jpg
Ane Koi: Suki Kirai Daisuki. https://cdn.myanimelist.net/images/anime/1481/103805.jpg
Hana no Joshi Announcer: Newscaster Etsuko https://cdn.myanimelist.net/images/anime/1483/103986.jpg
Owarimonogatari https://cdn.myanimelist.net/images/anime/8/76479.jpg
Keiraku no Houteishiki Level-C https://cdn.myanimelist.net/images/anime/1016/90268.jpg
Seme♥Chichi https://cdn.myanimelist.net/images/anime/4/29220.jpg
Dainiji Ura Nyuugakushiken The Animation https://cdn.myanimelist.net/images/anime/3/85651.jpg
Kyouhaku II (Second): Mou Hitotsu no Ashita The Animation https://cdn.myanimelist.net/images/anime/11/22053.jpg
Inshitsu Otaku ni Ikareru Kanojo https://cdn.myanimelist.net/images/anime/1087/104063.jpg
Shameshrine Andorora https://cdn.myanimelist.net/images/anime/7/20114.jpg
Houkago 2: Saiyuri https://cdn.myanimelist.net/images/anime/1214/104042.jpg
Seijun Kango Gakuin https://cdn.myanimelist.net/images/anime/6/4124.jpg
Seitokaichou Hikaru https://cdn.myanimelist.net/images/anime/3/21477.jpg
Boku no Yayoi-san https://cdn.myanimelist.net/images/anime/9/71680.jpg
Kyouiku Shidou The Animation https://cdn.myanimelist.net/images/anime/1671/104170.jpg
Mahou Shoujo Isuka https://cdn.myanimelist.net/images/anime/1799/104261.jpg
Elf Hime Nina https://cdn.myanimelist.net/images/anime/2/33427.jpg
Jokei Kazoku: Inbou https://cdn.myanimelist.net/images/anime/7/85853.jpg
Ookiku Furikabutte: Natsu no Scorebook https://cdn.myanimelist.net/images/anime/9/22178.jpg
Ookami-san to Shichinin no Nakama-tachi https://cdn.myanimelist.net/images/anime/9/75240.jpg
The iDOLM@STER Live For You! https://cdn.myanimelist.net/images/anime/11/39771.jpg
Ou Dorobou Jing https://cdn.myanimelist.net/images/anime/1961/92115.jpg
Soukan Yuugi https://cdn.myanimelist.net/images/anime/8/41621.jpg
Lupin III: Dead or Alive https://cdn.myanimelist.net/images/anime/1408/94363.jpg

# Collaborative Filtering
Either using the reviews dataframe or the favorite animes in the users dataframe can lead to good collaborative filtering. A user-item matrix will need to be created so personal user recommendations can be made.

In [10]:
reviews_df.head()

,uid,profile,anime_uid,text,score,scores,link
0,255938,DesolatePsyche,34096,\n \n \n \n ...,8,"{'Overall': '8', 'Story': '8', 'Animation': '8...",https://myanimelist.net/reviews.php?id=255938
1,259117,baekbeans,34599,\n \n \n \n ...,10,"{'Overall': '10', 'Story': '10', 'Animation': ...",https://myanimelist.net/reviews.php?id=259117
2,253664,skrn,28891,\n \n \n \n ...,7,"{'Overall': '7', 'Story': '7', 'Animation': '9...",https://myanimelist.net/reviews.php?id=253664
3,8254,edgewalker00,2904,\n \n \n \n ...,9,"{'Overall': '9', 'Story': '9', 'Animation': '9...",https://myanimelist.net/reviews.php?id=8254
4,291149,aManOfCulture99,4181,\n \n \n \n ...,10,"{'Overall': '10', 'Story': '10', 'Animation': ...",https://myanimelist.net/reviews.php?id=291149

In [15]:
reviews_df.shape

(192112, 7)

In [13]:
reviews_df['uid'].value_counts()

321183    4
321837    4
321498    4
321144    4
321148    4
         ..
46599     1
211503    1
156351    1
198366    1
193145    1
Name: uid, Length: 130519, dtype: int64

The most animes one user has reviewed is 4 which will not help in collaborative filtering. There would be too much missing data. So I will use peoples favorited animes shows. This is similar to the Udacity lesson where in the user item matrix, a user has a 1 if they interacted with an article, otherwise a 0. This is slightly different because a 1 will represent a positive interaction with a show since they belong to someones favorite.

In [54]:
users_df.head()

,profile,gender,birthday,favorites_anime,link
0,DesolatePsyche,Male,"Oct 2, 1994","['33352', '25013', '5530', '33674', '1482', '2...",https://myanimelist.net/profile/DesolatePsyche
1,baekbeans,Female,"Nov 10, 2000","['11061', '31964', '853', '20583', '918', '925...",https://myanimelist.net/profile/baekbeans
2,skrn,NaN,NaN,"['918', '2904', '11741', '17074', '23273', '32...",https://myanimelist.net/profile/skrn
3,edgewalker00,Male,Sep 5,"['5680', '849', '2904', '3588', '37349']",https://myanimelist.net/profile/edgewalker00
4,aManOfCulture99,Male,"Oct 30, 1999","['4181', '7791', '9617', '5680', '2167', '4382...",https://myanimelist.net/profile/aManOfCulture99

In [62]:
users_df.shape

(81727, 5)

Similar to how I extracted the genres and decades from the animes dataframe I will extract all the anime shows that people have favorited and create a user-item matrix.

In [3]:
shows = []

# for every anime, split the genre column value to get each genre type
for show in users_df.favorites_anime:
    favs = show.strip("[]").split(",")
    if '' in favs:
        favs.remove('')
    favs = [int(w.strip()[1:-1]) for w in favs]
    
    # add genres to list
    shows.extend(favs)

# drop all duplicate values
shows = set(shows)
shows = list(shows)
shows.sort()
print("The number of genres is {}.".format(len(shows)))
print(shows)

The number of genres is 4768.

In [18]:
def split_favs(anime):
    '''
    Will split the genre column of any anime row and return a 1 if the anime is listed in that genre.
    
    INPUT:
    anime - a string of the genres column for a specific anime
    
    OUTPUT:
    1 - if anime is listed in genre
    0 - if anime is not listed in genre
    '''
    try:
        favs = anime.strip("[]").split(",")
        if '' in favs:
            favs.remove('')
        favs = [int(w.strip()[1:-1]) for w in favs]
        if show in favs:
            return 1
        else:
            return 0
    except AttributeError:
        return 0

# create column for each genre and fill in columns
for show in shows:
    users_df[show] = users_df['favorites_anime'].apply(split_favs)

C:\Users\SaintGemini\AppData\Local\Temp\ipykernel_2152\2350838142.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  users_df[show] = users_df['favorites_anime'].apply(split_favs)

In [19]:
users_df.head()

,profile,gender,birthday,favorites_anime,link,1,5,6,7,15,...,40507,40540,40542,40610,40729,40767,40852,40936,40937,40952
0,DesolatePsyche,Male,"Oct 2, 1994","['33352', '25013', '5530', '33674', '1482', '2...",https://myanimelist.net/profile/DesolatePsyche,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,baekbeans,Female,"Nov 10, 2000","['11061', '31964', '853', '20583', '918', '925...",https://myanimelist.net/profile/baekbeans,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,skrn,NaN,NaN,"['918', '2904', '11741', '17074', '23273', '32...",https://myanimelist.net/profile/skrn,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,edgewalker00,Male,Sep 5,"['5680', '849', '2904', '3588', '37349']",https://myanimelist.net/profile/edgewalker00,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,aManOfCulture99,Male,"Oct 30, 1999","['4181', '7791', '9617', '5680', '2167', '4382...",https://myanimelist.net/profile/aManOfCulture99,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

The user-item matrix is everything starting from column '1' to the end of the dataframe.

In [25]:
# change column names to string (Int is not JSON serializable)
# will need column names for Flask app
users_df.columns = users_df.columns.astype(str)

In [27]:
# get a subset of users_df starting from column '1'
user_item = users_df.loc[:, '1':]

Run the cell below to look at the user-item matrix!

In [28]:
user_item.head()

,1,5,6,7,15,16,17,18,19,20,...,40507,40540,40542,40610,40729,40767,40852,40936,40937,40952
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
user_item.shape

(81727, 4768)

In [30]:
# get rid of any row with no 1
user_item = user_item[user_item.sum(axis=1) > 0]

In [31]:
user_item.shape

(65125, 4768)

In [2]:
# save to new csv file
user_item.to_csv('./data/user-item-matrix.csv')

Finding similar users can be done with the user-item matrix now.

In [8]:
def find_similar_users(user_id, user_item):
    '''
    INPUT:
    user_id - (int) a user_id
    user_item - (pandas dataframe) matrix of users by animes: 
                1's when a user has favorited an anime, 0 otherwise
    
    OUTPUT:
    similar_users - (list) an ordered list where the closest users (largest dot product users)
                    are listed first
    
    Description:
    Computes the similarity of every pair of users based on the dot product
    Returns an ordered list
    
    '''
    # compute similarity of each user to the provided user
    similarity = user_item[user_item.index == user_id].dot(user_item.T)
    # sort by similarity
    similarity = similarity.sort_values(user_id, axis=1, ascending=False)

    # create list of just the ids
    most_similar_users = list(similarity.columns)
    # remove the own user's id
    most_similar_users.remove(user_id)
    
    return most_similar_users # return a list of the users in order from most to least similar

In [9]:
find_similar_users(0, user_item)

[21906,
 63074,
 24608,
 26031,
 62415,
 6916,
 20428,
 41931,
 37544,
 55287,
 12456,
 49384,
 23163,
 48873,
 22922,
 22486,
 50073,
 22178,
 16560,
 24191,
 50090,
 3835,
 50203,
 10601,
 63252,
 47465,
 11304,
 16519,
 59689,
 46624,
 46591,
 46458,
 46434,
 537,
 46168,
 45970,
 16491,
 25971,
 45969,
 4907,
 21163,
 50917,
 11371,
 58890,
 58678,
 54139,
 58745,
 17305,
 17379,
 17645,
 58771,
 53623,
 53598,
 53592,
 18295,
 12045,
 18309,
 18341,
 18406,
 2762,
 18436,
 52433,
 52390,
 52387,
 11916,
 18839,
 52039,
 51372,
 11541,
 20251,
 51170,
 20495,
 45644,
 20755,
 63857,
 27202,
 26624,
 32535,
 855,
 33299,
 8117,
 32929,
 39116,
 60869,
 39394,
 38662,
 60846,
 6408,
 60784,
 60760,
 31271,
 60750,
 38733,
 6802,
 44565,
 34603,
 36270,
 35951,
 61613,
 61313,
 35538,
 37522,
 34344,
 38392,
 37936,
 6924,
 7879,
 34034,
 33900,
 33875,
 31230,
 62300,
 40914,
 28088,
 9250,
 9345,
 28340,
 28223,
 43295,
 43348,
 9499,
 31011,
 27931,
 27879,
 27581,
 27571,
 5322,
 27418,
 9249,
 9227,
 5779,
 9085,
 1222,
 41940,
 41719,
 29860,
 41652,
 62469,
 41571,
 41370,
 30519,
 41150,
 41055,
 8708,
 40976,
 58575,
 24503,
 14655,
 15090,
 15107,
 15763,
 58038,
 15461,
 14980,
 56110,
 15261,
 131,
 56773,
 57020,
 13647,
 57748,
 12688,
 55840,
 64919,
 16019,
 1985,
 13964,
 2050,
 56581,
 12717,
 15544,
 14499,
 16374,
 58068,
 57399,
 41171,
 42424,
 57218,
 57006,
 42394,
 42380,
 42359,
 5794,
 5810,
 42223,
 42235,
 6148,
 42222,
 42127,
 57009,
 5853,
 41077,
 41951,
 41083,
 42497,
 5752,
 42516,
 2148,
 42827,
 42763,
 42750,
 42742,
 42733,
 42685,
 42661,
 40919,
 40945,
 2062,
 2135,
 2147,
 42610,
 6153,
 42604,
 57315,
 42597,
 42589,
 42556,
 42539,
 41950,
 41904,
 57059,
 41451,
 41118,
 41360,
 6052,
 6062,
 41325,
 57182,
 6065,
 41266,
 57188,
 41125,
 41131,
 41263,
 41235,
 41204,
 41201,
 6105,
 41185,
 41132,
 41177,
 57111,
 41114,
 41924,
 41476,
 41816,
 41797,
 57066,
 41680,
 41678,
 41670,
 2116,
 41653,
 42833,
 41636,
 5973,
 41111,
 41610,
 57094,
 41584,
 41582,
 57107,
 6003,
 41533,
 55289,
 5603,
 42854,
 5220,
 56685,
 56706,
 5255,
 5256,
 44490,
 44471,
 44415,
 5291,
 44369,
 5294,
 44329,
 44291,
 44266,
 44235,
 56707,
 56740,
 44230,
 56771,
 44210,
 44187,
 44168,
 5242,
 44697,
 5349,
 5208,
 45241,
 45144,
 45127,
 45112,
 45062,
 45038,
 56649,
 5136,
 45027,
 45020,
 44984,
 44951,
 44949,
 44929,
 44918,
 5170,
 44816,
 44787,
 44776,
 44773,
 44754,
 44111,
 44072,
 5677,
 56922,
 43326,
 5534,
 2164,
 43276,
 5553,
 56936,
 43253,
 43207,
 43194,
 43193,
 56983,
 43181,
 43166,
 43159,
 43130,
 43118,
 43006,
 42964,
 2150,
 42872,
 42868,
 43328,
 43379,
 43974,
 56848,
 43965,
 43932,
 5390,
 5396,
 5409,
 43786,
 43785,
 43765,
 43743,
 5425,
 56780,
 43738,
 43726,
 43575,
 43544,
 5481,
 43520,
 56847,
 43433,
 43425,
 43389,
 57336,
 40717,
 40896,
 37781,
 57876,
 37935,
 6930,
 37904,
 37889,
 37884,
 37833,
 37818,
 37798,
 1923,
 37749,
 37428,
 37717,
 37704,
 37692,
 37672,
 37667,
 37610,
 57929,
 37523,
 57998,
 7042,
 57867,
 37975,
 57763,
 37981,
 57658,
 57670,
 38322,
 57696,
 38306,
 38305,
 38293,
 6837,
 6840,
 38248,
 6849,
 38221,
 57712,
 38174,
 38168,
 6880,
 38087,
 38065,
 6900,
 37995,
 6912,
 37467,
 37423,
 40857,
 7217,
 36965,
 36953,
 36925,
 36904,
 36887,
 36878,
 7202,
 36849,
 36822,
 36812,
 36659,
 37419,
 36646,
 7256,
 36631,
 36587,
 36585,
 36573,
 36426,
 7304,
 58087,
 7326,
 36978,
 36988,
 36990,
 37016,
 37418,
 7068,
 37384,
 37373,
 37364,
 37360,
 37359,
 37346,
 7100,
 7101,
 37283,
 37279,
 37223,
 37195,
 58007,
 37134,
 37116,
 37050,
 37026,
 58064,
 37020,
 38470,
 6777,
 38551,
 39737,
 6339,
 40080,
 40048,
 40006,
 39945,
 39893,
 2028,
 39821,
 39811,
 39794,
 39672,
 38563,
 6456,
 6457,
 39635,
 39627,
 39574,
 6479,
 6485,
 39533,
 39501,
 57475,
 40165,
 57451,
 40255,
 6309,
 6188,
 40823,
 40820,
 40812,
 2047,
 45263,
 40677,
 40665,
 40647,
 57420,
 57426,
 40637,
 40520,
 40519,
 57433,
 40486,
 6260,
 6267,
 40412,
 40395,
 40305,
 39467,
 6517,
 39424,
 6668,
 38942,
 57576,
 38939,
 38917,
 38899,
 38878,
 38874,
 57585,
 38844,
 38821,
 6704,
 6705,
 38802,
 38786,
 57613,
 6735,
 38676,
 57654,
 38635,
 38620,
 38607,
 38958,
 38989,
 57482,
 39006,
 39377,
 39368,
 57491,
 6552,
 39337,
 57511,
 39336,
 39316,
 39313,
 6571,
 39292,
 6585,
 39200,
 39174,
 57544,
 57552,
 39097,
 39073,
 39072,
 6646,
 39007,
 5084,
 45593,
 5075,
 51867,
 3363,
 52044,
 52042,
 56033,
 52030,
 52011,
 3394,
 3402,
 51878,
 3418,
 51862,
 51475,
 51846,
 3430,
 3445,
 51772,
 3463,
 3465,
 51662,
 51660,
 51600,
 3486,
 52081,
 52114,
 52123,
 52147,
 52516,
 52514,
 52469,
 52435,
 3269,
 55874,
 3273,
 55909,
 3290,
 55938,
 52332,
 52276,
 52272,
 56002,
 3318,
 52225,
 52216,
 52212,
 52199,
 52187,
 52160,
 51568,
 51472,
 52524,
 50742,
 50963,
 3657,
 50930,
 56142,
 50877,
 50862,
 50816,
 50800,
 3688,
 50793,
 56149,
 3518,
 50715,
 3717,
 50658,
 50509,
 56212,
 3762,
 50452,
 50376,
 50368,
 50353,
 56129,
 56127,
 51017,
 3637,
 51410,
 56052,
 3544,
 51312,
 56054,
 56056,
 51311,
 51290,
 51276,
 51272,
 51270,
 51248,
 56084,
 56108,
 3601,
 51112,
 51087,
 51083,
 3621,
 51069,
 51063,
 3245,
 52595,
 45323,
 54248,
 54698,
 55382,
 2592,
 54565,
 54561,
 54484,
 2821,
 54309,
 54300,
 54298,
 54245,
 55452,
 54188,
 55409,
 54109,
 54106,
 54066,
 54057,
 54048,
 54042,
 55446,
 54006,
 2748,
 55336,
 54738,
 54752,
 55286,
 55285,
 55322,
 55261,
 2645,
 55142,
 55132,
 55114,
 55112,
 2668,
 55098,
 2678,
 55330,
 55047,
 55007,
 54969,
 54968,
 54908,
 54869,
 54841,
 54829,
 54003,
 53876,
 52613,
 55815,
 52958,
 52919,
 52918,
 52870,
 3181,
 52761,
 52755,
 2513,
 55720,
 52753,
 52747,
 53862,
 52742,
 52741,
 52739,
 55832,
 52722,
 52716,
 52646,
 52628,
 52619,
 3221,
 53024,
 3126,
 53057,
 53096,
 53858,
 55462,
 53838,
 53756,
 53743,
 55521,
 55538,
 55545,
 55559,
 53574,
 53572,
 53571,
 3014,
 53469,
 53468,
 53349,
 53217,
 53149,
 53145,
 53130,
 53122,
 50351,
 50341,
 50328,
 4640,
 47403,
 56415,
 56430,
 4577,
 47323,
 47186,
 4613,
 4616,
 56442,
 47145,
 47064,
 46660,
 47038,
 4664,
 46957,
 46954,
 46937,
 46919,
 46906,
 46871,
 46838,
 46812,
 47409,
 7342,
 4553,
 47438,
 4445,
 47806,
 47787,
 47667,
 47650,
 4484,
 47604,
 47601,
 4500,
 47593,
 56404,
 4506,
 47579,
 47564,
 47547,
 47517,
 47516,
 47501,
 4532,
 4534,
 56406,
 46668,
 46654,
 50279,
 45725,
 4879,
 45981,
 56538,
 2262,
 56604,
 45931,
 45809,
 45805,
 45758,
 45727,
 45712,
 2305,
 45702,
 45686,
 2238,
 5003,
 5004,
 55306,
 45559,
 45548,
 45514,
 5040,
 46077,
 46142,
 56530,
 4846,
 4758,
 4759,
 46561,
 46550,
 46541,
 46497,
 4785,
 46479,
 46459,
 2289,
 46440,
 2282,
 46420,
 4805,
 46400,
 46368,
 46337,
 4835,
 46237,
 46201,
 2281,
 47827,
 47901,
 47914,
 49486,
 49684,
 2355,
 49664,
 49644,
 3969,
 49600,
 49585,
 49563,
 49556,
 2351,
 4017,
 47955,
 49391,
 49377,
 49328,
 4047,
 4048,
 4049,
 4055,
 56325,
 49256,
 49240,
 49716,
 49717,
 3937,
 49770,
 50268,
 56225,
 56231,
 50170,
 50103,
 50097,
 2380,
 50087,
 50076,
 50004,
 3878,
 49985,
 49958,
 3911,
 49873,
 49862,
 3923,
 3929,
 49799,
 49776,
 49774,
 49195,
 4077,
 49140,
 4258,
 4263,
 48464,
 4282,
 48327,
 48313,
 4309,
 48305,
 48290,
 48257,
 48238,
 48233,
 48206,
 4346,
 4347,
 4354,
 48133,
 56361,
 48126,
 48091,
 48045,
 47966,
 56338,
 48542,
 49122,
 48680,
 4096,
 49120,
 49111,
 4101,
 4109,
 4116,
 4119,
 4132,
 48942,
 48902,
 4153,
 56327,
 2345,
 48845,
 48818,
 48807,
 48788,
 48747,
 48730,
 48713,
 48691,
 36304,
 7600,
 36287,
 11477,
 20877,
 20804,
 20782,
 11410,
 20619,
 11442,
 20569,
 20516,
 11459,
 20504,
 20479,
 20446,
 21012,
 20422,
 20372,
 11501,
 20340,
 20290,
 20276,
 11526,
 20177,
 20110,
 ...]

In [11]:
def get_user_animes(uid,user_item):
    '''
    Gets the shows that are favorited by a specific user.
    
    INPUT:
    uid - (int) user id
    user-item - the user-item matrix from above
    '''
    
    user_row = user_item[user_item.index == uid]
    user_row = user_row.loc[:, (user_row.sum(axis=0) > 0)]
    return list(user_row.columns.values.astype(int))

In [36]:
import random
def user_user_recs(user_id, m=10):
    '''
    INPUT:
    user_id - (int) a user id
    m - (int) the number of recommendations you want for the user
    
    OUTPUT:
    recs - (list) a list of recommendations for the user
    
    Description:
    Loops through the users based on closeness to the input user_id
    For each user - finds animes the user hasn't seen before and provides them as recs
    Does this until m recommendations are found
    
    Notes:
    Users who are the same closeness are chosen arbitrarily as the 'next' user
    
    For the user where the number of recommended articles starts below m 
    and ends exceeding m, the last items are chosen arbitrarily
    
    '''
    recs = []
    similar_users = find_similar_users(user_id, user_item)
    random.shuffle(similar_users)
    viewed_anime_ids = get_user_animes(user_id, user_item)
    
    for user in similar_users:
        anime_ids = get_user_animes(user, user_item)
        for anime_id in anime_ids:
            if anime_id in viewed_anime_ids:
                pass
            else:
                recs = list(set().union(recs, anime_ids))
        if len(recs) >= m:
            break
        
    
    return recs[:m] # return your recommendations for this user_id

In [37]:
user_user_recs(0, m=20)

[1,
 392,
 2581,
 21,
 790,
 33,
 4901,
 934,
 813,
 35120,
 31933,
 967,
 1356,
 1358,
 2904,
 11741,
 227,
 249,
 2025,
 889]

This is all of the data preparation/cleaning that needs to be done for the project. The Flask app will take care of the rest!